/*body {*/
    /*padding: 0.5rem;*/
    /*!*background-color: #000;*!*/
/*}*/

/*.gallery {*/
    /*max-width: 900px;*/
    /*padding: 0.5rem;*/
    /*margin: auto;*/
    /*box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.3);*/
/*}*/

/*.gallery-title {*/
    /*margin-bottom: 1rem;*/
    /*color: #999;*/
/*}*/

/*.gallery-content {*/
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: space-between;*/
/*}*/

/*.gallery-item {*/
    /*position: relative;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex: 0 1 33%;*/
    /*margin-bottom: 0.5rem;}*/

/*.gallery-item:nth-last-child(-n + 3) {*/
     /*margin-bottom: 0;*/
 /*}*/


/*.gallery-img {*/
    /*display: block;*/
    /*max-width: 100%;*/
    /*height: auto;*/
    /*filter: grayscale(0.5);*/
/*}*/

/*.gallery-text {*/
    /*margin: 0;*/
    /*position: absolute;*/
    /*color: #999;*/
    /*font-size: 1.5rem;*/
    /*text-transform: uppercase;*/
/*}*/

*{
    transition: 1s;
    box-sizing: border-box;
}

.module-card-bottom {
    display: flex;
    flex-direction: column;
    /* a flex: 1 also works here, but is buggy on IE11 */
    flex-basis: 25%;
    padding: 0 5px;
}

.module-card-img {
    margin: 20px 0;
    align-self: center;
    width: 100%;
    height: auto;
}

.module-card-button {
    background: seagreen;
    color: white;
    border: none;
    margin-top: auto;
    padding: 10px;
}

.body__card {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
}
.price {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
    font-size: 25px;
}
.name {
    text-align: right;
}
.active {
    /*display: none;*/
    transition: 1ms;
    color: #fff;
    font-size: 0;
    height: 0;

}
