@import "variable.css";
@import "reset.css";
@import "font.css";

.container {
    min-width: 20rem;
    max-width: 58.88rem;
    margin: auto;
}

.wrapper-top {
    background-image: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url(../img/Vector-Smart-Object.jpg);
    background-size: auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    padding-top: 1.313rem;
    text-align: center;
    font-family: var(--ff-montserrat);
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 2.375rem;
}

.nav {
    width: 50%;
    margin: 0 auto 7.188rem;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    flex-basis: 50%;
}

.menu-link {
    font-size: .875rem;
    padding: .447rem 1rem;
    line-height: 2.25rem;
    border: .125rem solid transparent;
    border-radius: 1.125rem;
    transition: var(--anime-time);

}

.menu-link:hover {
    border: .125rem solid #ffffff;
}

.logo {
    font-size: 1.25rem;
    color: #ffffff;
    text-transform: uppercase;
}

.title {
    font-family: var(--ff-montserrat);
    font-weight: 700;
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-bottom: 1.188rem;
    color: #ffffff;
    text-align: center;
}

.br {
    display: block;
    margin: auto;
}

.sub-title {
    font-family: var(--ff-roboto-v1);
    font-weight: 300;
    font-size: 1.125rem;
    margin-bottom: 1.188rem;
    color: #ffffff;
    text-align: center;
    padding: 0 3.25rem;
}

.btn {
    display: block;
    margin: auto;
    font-family: var(--ff-montserrat);
    font-weight: 700;
    font-size: .875rem;
    color: #ffffff;
    padding: .6875rem 3.05rem;
    border: .125rem solid transparent;
    border-radius: 1.25rem;
    background-color: #ff4e50;
    transition: var(--anime-time);
}
.btn:hover {
    color: #ff4e50;
    background-color: transparent;
    border: .125rem solid #ff4e50;
    
}

.section-top {
    padding-bottom: 8.688rem;
}

.main {
    padding: 4.25rem 0 3.625rem;
    text-align: center;
}

.section-title {
    font-family: var(--ff-montserrat);
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: .875rem;
    padding: 0 1.25rem;
}

.box-img {
    position: relative;
    width: 7.5rem;
    height: 7.5rem;
    margin: auto;
    margin-bottom: 1.25rem;
}

.article-item-icon {
    display: block;
    position: absolute;
    width: 2.313rem;
    height: 2.313rem;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: .25rem solid #ffffff;
}

.icon-1 {
    background-color: #ff291e;
    background-image: url(../img/1.png);
    background-position: center;
}

.icon-2 {
    background-color: #ffa507;
    background-image: url(../img/2.png);
    background-position: center;
}

.icon-3 {
    background-color: #1cd7ad;
    background-image: url(../img/3.png);
    background-position: center;
}

.icon-4 {
    background-color: #4e73db;
    background-image: url(../img/4.png);
    background-position: center;
}
.article-item-name {
    font-family: var(--ff-montserrat);
    font-weight: 700;
    font-size: .875rem;
}
.article-item-text {
    font-family: var(--ff-roboto-v1);
    font-weight: 300;
    font-size: .875rem;
    color: #858585;
    margin-top: 1.25rem;
    padding: 0 1.25rem;

}
.article-item {
    margin-bottom: 1.75rem;
}
.section-partner-btn {
    background-color: transparent;
    border: .125rem solid #ff4e50;
    color: #ff4e50;
    transition: var(--anime-time);
}
.section-partner-btn:hover {
    background-color: #ff4e50;
    border: .125rem solid transparent;
    color: #ffffff;
}

@media (min-width: 768px) {
    .header {
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 86%;
        padding-top: 2.375rem
    }
    .nav {
        margin: 0;
    }
    .menu {
        justify-content: flex-end;
    }
    .menu-item {
        flex-basis: auto;
    }
    .section-top {
        margin-top: 9.5rem;
        padding-bottom: 14.63rem;
    }
    .title {
        font-size: 3.25rem;
        margin: 0 auto 2.5rem;
    }
    .sub-title {
        font-size: 1.5rem;
        margin-bottom: 2.125rem;
    }
    .btn {
        padding: .6875rem 1.362rem;
    }
    .section-title {
        padding: 0;
        margin-bottom: 1.875rem;
    }
    .article-body {
        margin: auto;
        width: 60.156%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .main {
        padding: 4.5rem 0 2.5rem;
    }
    .article-item {
        flex-basis: 48%;
        margin-bottom: 3.625rem;
    }
    .article-item:nth-last-child(-n+2) {
        margin-bottom: 2.5rem;
    }
    .article-item-text {
        padding: 0;
    }
    .section-partner-btn {
        padding: .6875rem 1.05rem;
    }
}

@media (min-width: 942px) {
    .main {
        padding: 4.5rem 0 4.5rem;
    }
    .article-body {
        width: 100%;
    }
    .article-item {
        flex-basis: 24%;
        margin-bottom: 3.625rem;
    }
}
