:root {
    --ff-roboto-v1: 'Roboto V1', sans-serif;
    --ff-montserrat: 'Montserrat', sans-serif;
    --color-gold: #fed136;
    --color-text-1: #222222;
    --color-text-2: #777777;
    --anime-time: 1s;
}