:root {
    --box1: #2ea2f3;
    --box2: #199586;
    --box3: #e62365;
    --box4: #e82020;
    --box5: #fc5b2d;
    --box6: #9b12ae;
    --box7: #4db051;
    --box8: #fcef41;
    --box9: #398ef2;
    --box-little-size: 100px;
    --box-size: 400px;
}