*{
    transition: .5s;
    box-sizing: border-box;
}
.main {
    display: flex;
    justify-content: space-between;
}
.form {
    position: absolute;
    left: -120px;
    flex-basis: 1%;
    border-right: 10px solid orangered;
    transition: .5s;
}
.form:hover {
position: relative;
    flex-basis: 19%;
    left: -10px;
    border-right: 0 solid orangered;
}

.module-card-bottom {
    display: flex;
    flex-direction: column;
    width:33%;
    padding: 0 5px;
    /*align-items: flex-start;*/
}

.module-card-img {
    margin: 20px 0;
    align-self: center;
    width: 75%;
    height: auto;

}

.module-card-button {
    background: seagreen;
    color: white;
    border: none;
    margin-top: auto;
    padding: 10px;
}

.body__card {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.price {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
    font-size: 25px;
}
.name {
    text-align: right;
}
.active {
    transition: 1ms;
    color: #fff;
    font-size: 0;
    height: 0;
}