* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.image-gallery {
    display: block;
    max-width: 80vw;
    height: auto;
}

.active {
    border-radius: 10%;
    opacity: .5;
}

li, li > img {
    display: block;
    flex-basis: 8%;
    height: auto;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.preview {
    display: flex;
    justify-content: space-between;
}