@import "reset.css";
@import "variable.css";
.container {
    max-width:  1200px;
    margin: auto;
}
.header {
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-family: var(--ff-montserrat);
    font-size: 30px;
    font-weight: 700;
    color: var(--color-green);
}
.nav {
    flex-basis: 490px;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.menu-link {
    font-family: var(--ff-montserrat);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--color-green);
    padding: 12px;
    transition: var(--anime-time);
    transition-timing-function: linear;
}
.menu-link:hover {
    color: var(--color-pink);
    border-bottom: 3px solid var(--color-pink);
}
.section-header {
    text-align: center;
    margin-bottom: 46px;
}
.title {
    font-family: var(--ff-kaushan);
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 23px;
    color: var(--color-text-1);
}
.section-title {
    font-family: var(--ff-montserrat);
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--color-text-1);
}
.section-title::after {
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: var(--color-pink);
    margin: 42px auto 0;
}
.main {
    margin-top: 113px;
}
.text {
    font-family: var(--ff-roboto);
    font-weight: 400;
    font-size: 15px;
    color: var(--color-text-2);
    line-height: 24px;
}
.services-items-name {
    font-family: var(--ff-montserrat);
    font-weight: 400;
    font-size: 14px;
    color: var(--color-text-1);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.services-body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 240px;
    align-content: space-between;
}
.services-items {
    display: flex;
    flex-basis: 381px;
    justify-content: space-evenly;
}
.services-items-icon {
    left: 25px;
    display: block;
    flex-basis: 32px;
    height: 32px;
}
.services-items-caption {
    flex-basis: 300px;
}
.team {
    padding: 90px 0 80px;
}
.team-text {
    margin: auto;
    max-width: 941px;
    text-align: center;
}
.team-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 90px;
}
.team-item {
    position: relative;
    flex-basis: 380px;
    text-align: center;
    transition-timing-function: linear;
    transition: var(--anime-time);
}
.team-item-caption {
    margin-top: 30px;
}
.team-item-name {
    margin-bottom: 15px;
    font-family: var(--ff-montserrat);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    color:  var(--color-text-1);
}
.team-item-position {
    font-family: var(--ff-roboto);
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color:  var(--color-text-2);
}
.box-sociale {
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
    height: 470px;
    z-index: 2;
    opacity: 0;
    transition: var(--anime-time);
    transition-timing-function: linear;
}
.team-item:hover .box-sociale {
    background: linear-gradient( var(--color-pink-hover)0%, var(--color-yellow-hover)100%);
    opacity: .9;
    transform: translate(-10px, -10px);
}
.team-pic {
    transition-timing-function: linear;
    transition: var(--anime-time);
}
.team-item:hover .team-pic {
    position: relative;
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px var(--color-green);
}
.box-sociale-icon {
    display: flex;
    position: absolute;
    width: 224px;
    height: 56px;
    background-color: var(--color-yellow);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sociale-link {
    display: block;
    flex-basis: 56px;
    border-right: 1px solid var(--color-border-sociale);
}
.sociale-icon {
    display: block;
    width: 56px;
    height: 56px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-pink);
    transition: var(--anime-time);
}
.sociale-link:last-child {
    border-right: 0;
}
.sociale-icon-1 {
    background-image: url(../img/facebook.png);
}
.sociale-icon-1:hover {
    background-image: url(../img/facebook-1.png);
}
.sociale-icon-2 {
    background-image: url(../img/twitter.png);
}
.sociale-icon-2:hover {
    background-image: url(../img/twitter-1.png);
}
.sociale-icon-3 {
    background-image: url(../img/pinterest.png);
}
.sociale-icon-3:hover {
    background-image: url(../img/pinterest-1.png);
}
.sociale-icon-4 {
    background-image: url(../img/instagram.png);
}
.sociale-icon-4:hover {
    background-image: url(../img/instagram-1.png);
}
.sociale-icon:hover {
    background-color: var(--color-pink);
}
.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-border);
    min-height: 62px;
}
.copyright {
    font-size: 14px;
    font-family: var(--ff-montserrat);
    font-weight: 400;
    color: var(--color-text-1);
    line-height: 62px;
}
.copyright-link {
    color: var(--color-pink);
}
.email {
    display: flex;
    align-items: center;
    min-width: 380px;
}
.email-text {
    display: block;
    flex-basis: 230px;
    font-family: var(--ff-roboto);
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: var(--color-text-2);
    padding: 10px 0;
    border: 1px solid var(--color-border);
    border-right: 0;
    text-indent: 13px;
}
.email-btn {
    font-family: var(--ff-montserrat);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color:  var(--color-green);
    padding: 13px 33px;
    border: 0;
}